name: publish

on:
  release:
    types:
      - created

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set up python
        uses: actions/setup-python@v1
        with:
          python-version: "3.9"
      - name: install flit
        run: pip install flit
      - name: publish
        run: echo "TODO!"
